:root {
  --color-blue: blue;
  --color: #333333;
  --font-scriptina-reg: 'scriptina_proregular', Arial, sans-serif;
}

.element {
  font-family: var(--font-scriptina-reg);
  background-color: var(--color-blue);
  background-image: url('../img/pattern.png');
  color: var(--color);
  font-size: 30px;
  padding: 20px;
}