// BEGIN EXAMPLE-COMPONENT
.c-example-component 
  h2.heading Something  
  img(src="#{require('../img/pattern.png')}")
  svg.o-icon.o-icon--arrow
    use(href="img/symbol-defs.svg#icon-arrow")

// END EXAMPLE-COMPONENT
